<div class="image-container1">
  <img src="assets/gg.webp" alt="Imagem">
  <div class="text-overlay">About</div>
</div>

  <div class="container">
    <div class="row align-items-center no-gutters">
      <div class="col-lg-6">
        <img src="assets/ss.png" alt="Imagem Alinhada" class="img-fluid">
      </div>
    </div>
  </div>



    <div class="row">
      <div class="col-md-12">

        <div class="container">
          <h2 class="lead text-truncado">BEM-VINDO A NOSSA COMUNIDADE GAMER</h2>
        </div>
        <p>


          Somos um grupo apaixonado por jogos, dedicado a proporcionar a melhor experiência para todos os entusiastas de games. Aqui você encontrará um fórum animado, notícias atualizadas e informações sobre os campeonatos mais emocionantes.

          Nosso fórum é o lugar perfeito para você se conectar com outros jogadores, compartilhar suas opiniões, discutir estratégias, pedir conselhos ou simplesmente conversar sobre os jogos que adora. Temos uma comunidade acolhedora e amigável, pronta para receber novos membros e trocar ideias. Não importa se você é um jogador casual ou competitivo, todos são bem-vindos!</p>
      </div>
    </div>









<div class="page-container">
  <div class="image-container">
    <img src="assets/sage.png" alt="Imagem Giratória">
  </div>
</div>






<div class="team-boxed">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Team </h2>
          <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
      </div>
      <div class="row people">
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/img/1.jpg">
                  <h3 class="name">Vini</h3>
                  <p class="title">Gay</p>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus . Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                  <h3 class="name">Fernanda</h3>
                  <p class="title">Artist</p>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus .Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box"><img class="rounded-circle" src="assets/img/3.jpg">
                  <h3 class="name">Bruna</h3>
                  <p class="title">Stylist</p>
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus . Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
              </div>
          </div>
      </div>
  </div>
</div>



